@charset "UTF-8";

/* referencia
https://www.youtube.com/watch?v=VCsNIRXNsmY
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 20px;
    color: white;
    width: 650px;
}

fieldset{
    padding: 20px;
    border: 3px solid dodgerblue;
}

legend{
    padding: 10px;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    border-radius: 8px;
    text-align: center;
}

.inputBox{
    margin-bottom: 50px;
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    letter-spacing: 2px;
    width: 100%;
    padding-bottom: 5px;
    font-size: 20px;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    color: white;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 15px;
    color: dodgerblue;
    transition: 0.5s;
}

#submit{
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    padding: 15px;
    color: white;
    margin-bottom: 20px;
}

#submit:hover{
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}
