@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');


:root{
    /* Paleta de cores */
    --cor1: #819CB8;
    --cor2: #4C5C6C;
    --cor3: #929C9D;
    --cor4: #BEB6AE;
    --cor5: #FFFDF7;

    --fonte1: font-family: 'Oswald', sans-serif;
    --fonte2: font-family: 'Bebas Neue', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
    display: flex;
    flex-flow: column;
    height: 100vh; 
}

header{
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--cor5);
    padding: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.607);
    flex-grow: 0;
    flex-basis: auto;
}

nav{
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 15px;
    text-align: center;
    flex-grow: 0;
    flex-basis: auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.289);
}

nav > a{
    color: var(--cor5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-decoration: none;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.305);
}

nav > .menu1{
    border-right: 1px solid black;
}

nav > .menu2{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

nav > .menu3{
    border-left: 1px solid black;
}

nav > a:hover{
    background-color: var(--cor1);
    text-decoration: underline;
    border-radius: 5px 5px 0px 0px;
    border: none;
    transition-duration: 0.5s;
}

main{
    width: 450px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0px auto 25px auto;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.31);
    flex-grow: 1;
    flex-basis: auto;
}

.campo_filtro{
    width: 100%;
    height: 50px;
    background-color: transparent;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cb_filtro{
    width: 33%;
    height: 30px;
    margin:0px 5px 0px 5px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    color:black;
    border-radius: 5px;
    border: 2px solid black;
}

.campo_tabela{
    width: 97%;
    background-color: var(--cor5);
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
}

table{
    width: 100%;
    margin: auto;
}

table > th, td{
    background-color: white;
    padding: 10px;
    border:1px solid lightgray;
}

.arquivo > a, .download > a{
    text-decoration: none;
    color: black;
}

.arquivo > a:hover, .download > a:hover{
    text-decoration: underline;
    color: black;
}

.numero, .nome{
    text-align: left;
}

.nome{
    width: 100px;
}

.download, .data{
    text-align: center;
}

footer{
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--cor5);
    text-align: center;
    padding: 15px;
    flex-grow: 0;
    flex-basis: 25px;
    border-top: 2px solid black;
}

